


<div class="min-h-screen flex items-center justify-center bg-gray-50">

  <div class="bg-white shadow-lg rounded-xl p-6 w-full max-w-sm">

    <h2 class="text-2xl font-semibold text-gray-900 text-center mb-1">
      Recover password
    </h2>



    <div class="mb-2">
      
@if (step===1) {
      <p class="text-sm text-gray-500 text-center mb-1">
      Enter your email address to receive the verification code
    </p>
  <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()" >

             <app-input [control]="verifyEmail.get('email')" [typeInput]="'email'" [idInput]="'email'" [labelInput]="' Email '" [placeHolder]="'EX 📩mahmoud@gmail.com'" ></app-input>
  
      <button class="disabled:bg-gray-500 disabled:cursor-not-allowed  w-full bg-[#8B5E35]  text-white py-3 rounded-full text-lg font-medium shadow-sm my-3">
            vrtifyEmail
          </button>
</form>
}
@else if (step===2) {
      <p class="text-sm text-gray-500 text-center mb-1">
      Enter your verification code receive To email address
    </p>
  <form [formGroup]="verifyCode" (ngSubmit)="formStep2()" >

             <app-input [control]="verifyCode.get('resetCode')" [typeInput]="'text'" [idInput]="'resetCode'" [labelInput]="' resetCode '"  ></app-input>
  
      <button class="disabled:bg-gray-500 disabled:cursor-not-allowed  w-full bg-[#8B5E35]  text-white py-3 rounded-full text-lg font-medium shadow-sm my-3">
            vrtifyCode
          </button>
</form>
}

@else if (step===3) {
      <p class="text-sm text-gray-500 text-center mb-1">
      Enter New Password
    </p>
  <form [formGroup]="resetPassword"  (ngSubmit)="formStep3()">

             <!-- <app-input [control]="resetPassword.get('email')" [typeInput]="'email'" [idInput]="'email'" [labelInput]="' Email '"  ></app-input> -->
             <app-input [control]="resetPassword.get('newPassword')"  [idInput]="'password'" [labelInput]="' newPassword '"  ></app-input>
  
      <button class="disabled:bg-gray-500 disabled:cursor-not-allowed  w-full bg-[#8B5E35]  text-white py-3 rounded-full text-lg font-medium shadow-sm my-3">
            resetPassword
          </button>
</form>}


  </div>

</div>