<section class="  py-16  bg-[#F6F6F6] ">
    <div class="" >
          <owl-carousel-o [options]="slider1Option">

    @for (category of categoriesList; track category._id) {
      <ng-template carouselSlide [id]="category._id">
        <!-- <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title"> -->
         <div class="flex flex-col items-center h-full ">
                        <div class="w-20 h-20 rounded-full overflow-hidden flex items-center justify-center">
              <img 
                [src]="category.image"
                [alt]="category.name"
                class="w-full h-full object-cover"
              />
            </div>
                        <p class="mt-2 text-sm font-semibold text-gray-700">
              {{ category.name }}
            </p>

         </div>
      </ng-template>
    }

  </owl-carousel-o>
    </div>
</section>

<!-- <section class="pt-16 bg-danger  justify-center h-64">
<div class="flex items-center  w-11/12 m-auto bg-green-400">
<h1>jjjjj</h1>

</div>
</section> -->

