 <!-- <section class="py-20 bg-white">
  <div class=" container px-6">

    <h2 class=" w-[1240px ] h-12 font-['Poppins'] font-semibold text-[40px] leading-[120%] tracking-[0] text-[#090F41]">Contact me</h2>
    <p class="w-[1240px ] h-[27px] font-['Poppins'] font-medium text-[18px] leading-[150%] tracking-[0] text-[#9D9DAA]">
      Lorem ipsum dolor sit amet consectetur adipiscing elit.
    </p>

    <form class="space-y-6 w-5xl ">

      <div class="grid md:grid-cols-2 gap-6">
<div>
            <label class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal" for="firstName">First name</label>
        <input type="text" class="w-[496px] h-16 p-4 rounded-[8px] focus:ring-[#8B5E35]  border-[#8B5E35] focus:border-[#8B5E35] border-[0.5px] opacity-100  "/>
</div>
<div>
            <label class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal"  for="firstName">First name</label>
        <input type="text" class="w-[496px] h-16 p-4 rounded-[8px] focus:ring-[#8B5E35]  border-[#8B5E35] focus:border-[#8B5E35] border-[0.5px] opacity-100  "/>
</div>


      </div>

      <div class="grid md:grid-cols-2 gap-6">


<div>
            <label class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal"  for="firstName">First name</label>
        <input type="text" class="w-[496px] h-16 p-4 rounded-[8px] focus:ring-[#8B5E35]  border-[#8B5E35] focus:border-[#8B5E35] border-[0.5px] opacity-100  "/>
</div>
<div>
            <label class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal"  for="firstName">First name</label>
        <input type="text" class="w-[496px] h-16 p-4 rounded-[8px] focus:ring-[#8B5E35]  border-[#8B5E35] focus:border-[#8B5E35] border-[0.5px] opacity-100  "/>
</div>
      </div>

<div class="grid md:grid-cols-2 gap-6">
<div>
    <label class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal"  for="topics">Choose a topic</label>
        <select id="topics" class=" text-[#090F41] font-normal text-[20px] leading-[150%] tracking-normal w-5xl h-16 p-4 rounded-[8px] focus:ring-[#8B5E35]  border-[#8B5E35] focus:border-[#8B5E35] border-[0.5px] opacity-100 ">
        <option class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal">Select one</option>
        <option class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal" >Support</option>
        <option class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal">Sales</option>
        <option class="w-[496px] text-[#090F41] h-[30px] font-['poppins'] font-normal text-[20px] leading-[150%] tracking-normal">Feedback</option>
        </select>
</div>
</div>

      <textarea rows="5" placeholder="Type your message..."
        class="border rounded-xl px-4 py-3 w-full focus:ring-[#8B5E35]  border-[#8B5E35] focus:border-[#8B5E35]"></textarea>

      <div class="flex items-center gap-2 text-sm text-gray-500">
        <input  type="checkbox" class=" checked:bg-[#8B5E35]   focus:ring-[#8B5E35]  border-[#8B5E35] focus:border-[#8B5E35] w-[21.33px] h-[21.33px] rotate-0 opacity-100 rounded-[5.33px] border"/>
        <span class="font-['poppins'] font-normal text-[18px] leading-[150%] tracking-normal text-[#9D9DAA]" >I accept the terms</span>
      </div>

      <button class="w-[303px] h-[58px] rounded-4xl p-2 flex items-center justify-center gap-2 
               bg-[#8B5E35] text-white font-['poppins'] font-medium text-[18px]
               hover:bg-[#8B5E35] transition-colors duration-300">
                     <span class="font-['Poppins'] font-medium text-[16px] sm:text-[18px] leading-[100%] tracking-normal">
        Submit
      </span>
      </button>

    </form>
  </div>
</section> -->

<section class="py-20 bg-white">
  <div class="container px-6 ">

    <!-- العنوان والوصف -->
    <h2 class="text-3xl sm:text-4xl font-poppins font-semibold text-[#090F41] leading-tight mb-2">
      Contact me
    </h2>
    <p class="text-base sm:text-[18px] font-poppins font-medium text-[#9D9DAA] mb-8">
      Lorem ipsum dolor sit amet consectetur adipiscing elit.
    </p>

    <!-- الفورم -->
    <form class="space-y-6 max-w-5xl w-full ">

      <!-- الصف الأول من المدخلات -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-[#090F41] font-poppins font-normal text-[20px] leading-[150%] mb-2" for="firstName">First name</label>
          <input type="text"
            class="w-full h-16 p-4 rounded-[8px] border border-[#8B5E35] focus:ring-[#8B5E35] focus:border-[#8B5E35]"/>
        </div>
        <div>
          <label class="block text-[#090F41] font-poppins font-normal text-[20px] leading-[150%] mb-2" for="lastName">Last name</label>
          <input id="lastName" type="text"class="w-full h-16 p-4 rounded-[8px] border border-[#8B5E35] focus:ring-[#8B5E35] focus:border-[#8B5E35]"/>
        </div>
      </div>

      <!-- الصف الثاني من المدخلات -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-[#090F41] font-poppins font-normal text-[20px] leading-[150%] mb-2" for="email">Email</label>
          <input id="email" type="email"
            class="w-full h-16 p-4 rounded-[8px] border border-[#8B5E35] focus:ring-[#8B5E35] focus:border-[#8B5E35]"/>
        </div>
        <div>
          <label class="block text-[#090F41] font-poppins font-normal text-[20px] leading-[150%] mb-2" for="phone">Phone</label>
          <input id="phone" type="tel"
            class="w-full h-16 p-4 rounded-[8px] border border-[#8B5E35] focus:ring-[#8B5E35] focus:border-[#8B5E35]"/>
        </div>
      </div>

      <!-- قائمة اختيار موضوع -->
      <div>
        <label class="block text-[#090F41] font-poppins font-normal text-[20px] leading-[150%] mb-2" for="topics">Choose a topic</label>
        <select id="topics"
          class="w-full h-16 p-4 rounded-[8px] border border-[#8B5E35] focus:ring-[#8B5E35] focus:border-[#8B5E35] font-poppins font-normal text-[20px] leading-[150%] text-[#090F41]">
          <option>Select one</option>
          <option>Support</option>
          <option>Sales</option>
          <option>Feedback</option>
        </select>
      </div>

      <!-- textarea -->
      <div>
        <textarea rows="5" placeholder="Type your message..."
          class="w-full p-4 rounded-xl border border-[#8B5E35] focus:ring-[#8B5E35] focus:border-[#8B5E35] font-poppins text-[18px] leading-[150%] text-[#090F41]"></textarea>
      </div>

      <!-- Checkbox -->
      <div class="flex items-center gap-2 text-sm text-gray-500">
        <input type="checkbox" class="w-5 h-5 accent-[#8B5E35] border border-[#8B5E35] rounded-[5.33px] focus:ring-[#8B5E35]"/>
        <span class="font-poppins font-normal text-[18px] leading-[150%] text-[#9D9DAA]">
          I accept the terms
        </span>
      </div>

      <!-- زرار الإرسال -->
      <div>
        <button
          class="w-full sm:w-[303px] h-[58px] rounded-4xl p-2 flex items-center justify-center gap-2 
                 bg-[#8B5E35] text-white font-poppins font-medium text-[18px] hover:bg-[#a46b47] transition-colors duration-300">
          <span class="text-[16px] sm:text-[18px] leading-[100%]">Submit</span>
        </button>
      </div>

    </form>
  </div>
</section>
