
<div class="w-full bg-[#F8F8F8] min-h-screen  pt-24 ">
  <div class="container mx-auto px-4 lg:px-8">
    <div class="max-w-7xl mx-auto text-center">
      <p class="  h-[43px] text-center text-[#8B5E35] font-['Hedvig_Letters_Serif'] font-normal text-[32px] leading-[100%] tracking-[0] sm:text-[26px]">
         Favorite Products
      </p>
      <p class=" h-[60px] opacity-100 text-[#090F41] font-['Poppins'] font-semibold text-3xl sm:text-4xl leading-[100%] tracking-normal text-center">
        Best Product to buy
      </p>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-6 ">
    <section class="col-span-12">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 m-4 sm:m-8 px-2 sm:px-10">
        @for (proudct of proudctList  ; track proudct.id) {
                @if (checkSolidHeart(proudct.id)) {
          <app-card [proudct]="proudct"></app-card>
                }
        }
      </div>
    </section>
  </div>
</div>







