<section class=" bg-[#F6F6F6] px-6 w-[1333px]  h-[259px] m-auto">
  <div class="slider">
    <owl-carousel-o  [options]="slidelanding">
      <ng-template carouselSlide>
<div class="px-3.5 " >
    
      <div class="bg-white p-8 rounded-2xl shadow-sm">
         <div class="w-[62px] h-[62px] flex items-center justify-center gap-2 p-[15px] opacity-100">
  <!-- <i class="fa-solid fa-star"></i> -->
   <img src="/img/quote-up.svg" alt="qute">
</div>

        <p class="text-[#9D9DAA] font-['Poppins'] font-normal text-[18px] leading-[100%] text-left"
>Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada dignissim
        </p>
                <div class="flex items-center justify-between mt-6">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-full bg-gray-200"  >
                <img class="w-10 h-10 rounded-full bg-gray-200" src="/img/WhatsApp Image 2026-01-31 at 4.16.22 PM.jpeg" alt="img customer">
            </div>
        <h3 class="  h-[30px] text-[#090F41] font-['Poppins'] font-semibold text-[20px] leading-[100%] text-left" >Mahmoud A Haroun</h3>

          </div>

          <div class="flex items-center gap-1 text-amber-500 text-sm">
    <!-- <span class="text-yellow-400 text-base">★</span> -->
     <img src="/img/star.svg" alt="star">
             <span class="text-[#090F41] font-['Poppins'] font-medium text-[18px] leading-[130%] tracking-normal">3.5</span>
          </div>
        </div>
      </div>
</div>

        
      </ng-template> 
      <ng-template carouselSlide>
<div class="px-3.5" >
    
      <div class="bg-white p-8 rounded-2xl shadow-sm">
         <div class="w-[62px] h-[62px] flex items-center justify-center gap-2 p-[15px] opacity-100">
  <!-- <i class="fa-solid fa-star"></i> -->
   <img src="/img/quote-up.svg" alt="qute">
</div>

        <p class="text-[#9D9DAA] font-['Poppins'] font-normal text-[18px] leading-[100%] text-left"
>Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada dignissim
        </p>
                <div class="flex items-center justify-between mt-6">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-full bg-gray-200"  >
                <img class="w-10 h-10 rounded-full bg-gray-200" src="/img/WhatsApp Image 2026-01-31 at 4.16.22 PM.jpeg" alt="img customer">
            </div>
        <h3 class="  h-[30px] text-[#090F41] font-['Poppins'] font-semibold text-[20px] leading-[100%] text-left" >Mahmoud A Haroun</h3>

          </div>

          <div class="flex items-center gap-1 text-amber-500 text-sm">
    <!-- <span class="text-yellow-400 text-base">★</span> -->
     <img src="/img/star.svg" alt="star">
             <span class="text-[#090F41] font-['Poppins'] font-medium text-[18px] leading-[130%] tracking-normal">3.5</span>
          </div>
        </div>
      </div>
</div>

        
      </ng-template> 
      <ng-template carouselSlide>
<div class="px-3.5" >
    
      <div class="bg-white p-8 rounded-2xl shadow-sm">
         <div class="w-[62px] h-[62px] flex items-center justify-center gap-2 p-[15px] opacity-100">
  <!-- <i class="fa-solid fa-star"></i> -->
   <img src="/img/quote-up.svg" alt="qute">
</div>

        <p class="text-[#9D9DAA] font-['Poppins'] font-normal text-[18px] leading-[100%] text-left"
>Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada dignissim
        </p>
                <div class="flex items-center justify-between mt-6">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-full bg-gray-200"  >
                <img class="w-10 h-10 rounded-full bg-gray-200" src="/img/WhatsApp Image 2026-01-31 at 4.16.22 PM.jpeg" alt="img customer">
            </div>
        <h3 class="  h-[30px] text-[#090F41] font-['Poppins'] font-semibold text-[20px] leading-[100%] text-left" >Mahmoud A Haroun</h3>

          </div>

          <div class="flex items-center gap-1 text-amber-500 text-sm">
    <!-- <span class="text-yellow-400 text-base">★</span> -->
     <img src="/img/star.svg" alt="star">
             <span class="text-[#090F41] font-['Poppins'] font-medium text-[18px] leading-[130%] tracking-normal">3.5</span>
          </div>
        </div>
      </div>
</div>

        
      </ng-template> 
      <ng-template carouselSlide>
<div class="px-3.5" >
    
      <div class="bg-white p-8 rounded-2xl shadow-sm">
         <div class="w-[62px] h-[62px] flex items-center justify-center gap-2 p-[15px] opacity-100">
  <!-- <i class="fa-solid fa-star"></i> -->
   <img src="/img/quote-up.svg" alt="qute">
</div>

        <p class="text-[#9D9DAA] font-['Poppins'] font-normal text-[18px] leading-[100%] text-left"
>Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada dignissim
        </p>
                <div class="flex items-center justify-between mt-6">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-full bg-gray-200"  >
                <img class="w-10 h-10 rounded-full bg-gray-200" src="/img/WhatsApp Image 2026-01-31 at 4.16.22 PM.jpeg" alt="img customer">
            </div>
        <h3 class="  h-[30px] text-[#090F41] font-['Poppins'] font-semibold text-[20px] leading-[100%] text-left" >Mahmoud A Haroun</h3>

          </div>

          <div class="flex items-center gap-1 text-amber-500 text-sm">
    <!-- <span class="text-yellow-400 text-base">★</span> -->
     <img src="/img/star.svg" alt="star">
             <span class="text-[#090F41] font-['Poppins'] font-medium text-[18px] leading-[130%] tracking-normal">3.5</span>
          </div>
        </div>
      </div>
</div>

        
      </ng-template> 
      <ng-template carouselSlide>
<div class="px-3.5" >
    
      <div class="bg-white p-8 rounded-2xl shadow-sm">
         <div class="w-[62px] h-[62px] flex items-center justify-center gap-2 p-[15px] opacity-100">
  <!-- <i class="fa-solid fa-star"></i> -->
   <img src="/img/quote-up.svg" alt="qute">
</div>

        <p class="text-[#9D9DAA] font-['Poppins'] font-normal text-[18px] leading-[100%] text-left"
>Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada dignissim
        </p>
                <div class="flex items-center justify-between mt-6">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-full bg-gray-200"  >
                <img class="w-10 h-10 rounded-full bg-gray-200" src="/img/WhatsApp Image 2026-01-31 at 4.16.22 PM.jpeg" alt="img customer">
            </div>
        <h3 class="  h-[30px] text-[#090F41] font-['Poppins'] font-semibold text-[20px] leading-[100%] text-left" >Mahmoud A Haroun</h3>

          </div>

          <div class="flex items-center gap-1 text-amber-500 text-sm">
    <!-- <span class="text-yellow-400 text-base">★</span> -->
     <img src="/img/star.svg" alt="star">
             <span class="text-[#090F41] font-['Poppins'] font-medium text-[18px] leading-[130%] tracking-normal">3.5</span>
          </div>
        </div>
      </div>
</div>

        
      </ng-template> 
      <ng-template carouselSlide>
<div class="px-3.5" >
    
      <div class="bg-white p-8 rounded-2xl shadow-sm">
         <div class="w-[62px] h-[62px] flex items-center justify-center gap-2 p-[15px] opacity-100">
  <!-- <i class="fa-solid fa-star"></i> -->
   <img src="/img/quote-up.svg" alt="qute">
</div>

        <p class="text-[#9D9DAA] font-['Poppins'] font-normal text-[18px] leading-[100%] text-left"
>Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada dignissim
        </p>
                <div class="flex items-center justify-between mt-6">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-full bg-gray-200"  >
                <img class="w-10 h-10 rounded-full bg-gray-200" src="/img/WhatsApp Image 2026-01-31 at 4.16.22 PM.jpeg" alt="img customer">
            </div>
        <h3 class="  h-[30px] text-[#090F41] font-['Poppins'] font-semibold text-[20px] leading-[100%] text-left" >Mahmoud A Haroun</h3>

          </div>

          <div class="flex items-center gap-1 text-amber-500 text-sm">
    <!-- <span class="text-yellow-400 text-base">★</span> -->
     <img src="/img/star.svg" alt="star">



             <span class="text-[#090F41] font-['Poppins'] font-medium text-[18px] leading-[130%] tracking-normal">3.5</span>
          </div>
        </div>
      </div>
</div>

        
      </ng-template> 
      <ng-template carouselSlide>
<div class="px-3.5" >
    
      <div class="bg-white p-8 rounded-2xl shadow-sm">
         <div class="w-[62px] h-[62px] flex items-center justify-center gap-2 p-[15px] opacity-100">
  <!-- <i class="fa-solid fa-star"></i> -->
   <img src="/img/quote-up.svg" alt="qute">
</div>

        <p class="text-[#9D9DAA] font-['Poppins'] font-normal text-[18px] leading-[100%] text-left"
>Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit laoreet purus malesuada dignissim
        </p>
                <div class="flex items-center justify-between mt-6">
          <div class="flex items-center gap-3">
            <div class="w-10 h-10 rounded-full bg-gray-200"  >
                <img class="w-10 h-10 rounded-full bg-gray-200" src="/img/WhatsApp Image 2026-01-31 at 4.16.22 PM.jpeg" alt="img customer">
            </div>
        <h3 class="  h-[30px] text-[#090F41] font-['Poppins'] font-semibold text-[20px] leading-[100%] text-left" >Mahmoud A Haroun</h3>

          </div>

          <div class="flex items-center gap-1 text-amber-500 text-sm">
    <!-- <span class="text-yellow-400 text-base">★</span> -->
     <img src="/img/star.svg" alt="star">
             <span class="text-[#090F41] font-['Poppins'] font-medium text-[18px] leading-[130%] tracking-normal">3.5</span>
          </div>
        </div>
      </div>
</div>

        
      </ng-template> 
 





    </owl-carousel-o>
  </div>
</section>