<section class="bg-[#F6F6F6] py-16">
  <div class="max-w-7xl mx-auto px-4">

    <!-- Title -->
    <div class="text-center mb-10">
      <p class="text-[#8B5E35] font-['Hedvig_Letters_Serif'] font-normal text-[32px] leading-[100%] tracking-[0] sm:text-[26px]">New Collection</p>
      <h2 class="opacity-100 text-[#090F41] font-['Poppins'] font-semibold text-[40px] sm:text-4xl leading-[100%] tracking-normal text-center">
        Check the new Collection
      </h2>
    </div>

    <!-- Layout -->
    <div class="grid md:grid-cols-2 gap-6">

      <!-- LEFT BIG IMAGE -->
      <div class="relative group overflow-hidden bg-[url('/img/collection1.jpg')] bg-center bg-cover rounded-3xl h-[800px] md:h-[600px] sm:h-[400px]">

        <!-- Overlay -->
        <div
          class="absolute inset-0 bg-black/40 flex flex-col items-center justify-center 
          opacity-0 group-hover:opacity-100 transition duration-500"
        >
          <div class="flex flex-col items-center justify-center text-center px-4">
            <h3 class="font-['Poppins'] font-semibold text-[50px] sm:text-[36px] leading-[100%] tracking-[0] text-[#FFFFFF]">Shoes</h3>
            <p class="font-['Poppins'] font-medium text-[32px] sm:text-[24px] leading-[100%] tracking-[0] text-[#FFFFFF] mt-2">UP TO 50% OFF</p>
          </div>
        </div>

      </div>

      <!-- RIGHT SIDE (2 images) -->
      <div class="flex flex-col gap-5">

        <!-- Top Image -->
        <div class="relative group overflow-hidden rounded-3xl h-[390px] md:h-[280px] sm:h-[180px] bg-[url('/img/newcollection2.jpg')] bg-center bg-cover">

          <div
            class="absolute inset-0 bg-black/40 flex flex-col items-center justify-center 
            opacity-0 group-hover:opacity-100 transition duration-500"
          >
            <div class="flex flex-col items-center justify-center text-center px-4">
              <h3 class="font-['Poppins'] font-semibold text-[50px] sm:text-[28px] leading-[100%] tracking-[0] text-[#FFFFFF]">Bags</h3>
              <p class="font-['Poppins'] font-medium text-[32px] sm:text-[20px] leading-[100%] tracking-[0] text-[#FFFFFF] mt-2">UP TO 50% OFF</p>
            </div>
          </div>
        </div>

        <!-- Bottom Image -->
        <div class="relative group overflow-hidden rounded-3xl h-[390px] md:h-[280px] sm:h-[180px] bg-[url('/img/newcollection3.jpg')] bg-center bg-cover">

          <div
            class="absolute inset-0 bg-black/40 flex flex-col items-center justify-center 
            opacity-0 group-hover:opacity-100 transition duration-500"
          >
            <div class="flex flex-col items-center justify-center text-center px-4">
              <h3 class="font-['Poppins'] font-semibold text-[50px] sm:text-[28px] leading-[100%] tracking-[0] text-[#FFFFFF]">Accessories</h3>
              <p class="font-['Poppins'] font-medium text-[32px] sm:text-[20px] leading-[100%] tracking-[0] text-[#FFFFFF] mt-2">UP TO 50% OFF</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
